In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

C:\Users\i_fed\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\i_fed\anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\i_fed\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:\n%s" %

In [2]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [3]:
df_train.shape

(614, 13)

In [4]:
df_test.shape

(367, 12)

In [5]:
df_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [6]:
total = df_train.isnull().sum().sort_values(ascending=False)
percent = (df_train.isnull().sum()/df_train.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=["Total", "Percent"])
missing_data.head(20)

                   Total   Percent
Credit_History        50  0.081433
Self_Employed         32  0.052117
LoanAmount            22  0.035831
Dependents            15  0.024430
Loan_Amount_Term      14  0.022801
Gender                13  0.021173
Married                3  0.004886
Loan_ID                0  0.000000
Education              0  0.000000
ApplicantIncome        0  0.000000
CoapplicantIncome      0  0.000000
Property_Area          0  0.000000
Loan_Status            0  0.000000

In [7]:
df_train["Gender"] = df_train["Gender"].fillna(
df_train["Gender"].dropna().mode().values[0] )
df_train["Married"] = df_train["Married"].fillna(
df_train["Married"].dropna().mode().values[0] )
df_train["Dependents"] = df_train["Dependents"].fillna(
df_train["Dependents"].dropna().mode().values[0] )
df_train["Self_Employed"] = df_train["Self_Employed"].fillna(
df_train["Self_Employed"].dropna().mode().values[0] )
df_train["LoanAmount"] = df_train["LoanAmount"].fillna(
df_train["LoanAmount"].dropna().median() )
df_train["Loan_Amount_Term"] = df_train["Loan_Amount_Term"].fillna(
df_train["Loan_Amount_Term"].dropna().mode().values[0] )
df_train["Credit_History"] = df_train["Credit_History"].fillna(
df_train["Credit_History"].dropna().mode().values[0] )

In [8]:
total = df_train.isnull().sum().sort_values(ascending=False)
percent = (df_train.isnull().sum()/df_train.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=["Total", "Percent"])
missing_data.head(20)

                   Total  Percent
Loan_ID                0      0.0
Gender                 0      0.0
Married                0      0.0
Dependents             0      0.0
Education              0      0.0
Self_Employed          0      0.0
ApplicantIncome        0      0.0
CoapplicantIncome      0      0.0
LoanAmount             0      0.0
Loan_Amount_Term       0      0.0
Credit_History         0      0.0
Property_Area          0      0.0
Loan_Status            0      0.0

In [9]:
df_train.Dependents.value_counts()

0     360
1     102
2     101
3+     51
Name: Dependents, dtype: int64

# Using Logistic Regression

In [10]:
model = LogisticRegression()
model.fit(X_train, y_train)
ypred = model.predict(X_test)
print(ypred)
evaluation = f1_score(y_test, ypred)
evaluation

NameError: name 'LogisticRegression' is not defined

# Using Decision Tree

In [ ]:
tree = DecisionreeClassifier()
tree.fit(X_rain,y_train)
ypred_tree = Tree.predict(X_test)
print(ypred_tree)
evaluation_tree = f1_score(y_test,ypred_tree)
evaluation_tree

# Using Random Forecast Classifier

In [ ]:
forest = RandomForestClassifier()
forest.fit(X_train, y_train)

In [ ]:
ypred_forest = forest.predict(X_test)
print(ypred_forest)

In [ ]:
evaluation_forest=f1_score(_test, ypred_forest)
evaluation_forest